html {
    height: 100%;
}

@font-face {
    font-family: sf;
    src: url(SFProDisplay-Medium.ttf) format(truetype);
}

* {
    color: white;
    font-family: sf;
    transition: 0.3s;
}

body {
    background: rgb(159, 2, 94);
    background: linear-gradient(180deg, rgba(159, 2, 94, 1) 0%, rgba(191, 74, 75, 1) 37%, rgba(208, 110, 65, 1) 59%, rgba(249, 201, 41, 1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 20px;
    font-size: x-large;
    cursor: pointer;
}

.buttons {
    position: fixed;
    top: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 150px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.356));
}

button img:hover {
    width: 150px;
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.7));
}

.box {
    font-size: x-large;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 100px;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
}

img {
    width: 50px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.356));
}

p {
    margin: 10px;
}

.reset:hover {
    color: rgba(249, 201, 41, 1);
}