body {
    background-color: #E2D1F9;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #317773;
    width: 95vw;
    margin-top: 1vw;
    display: inline;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.582) 0px 0px 10px;
}

button {
    background-color: #E2D1F9;
    border: white 2px solid;
    border-radius: 10px;
    margin: 3px 3px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.582) 0px 0px 10px -5px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.582) 0px 0px 10px;
    background-color: white;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    margin-top: -5px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}