body {
    background-color: #2c3f5d;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #be5c6b;
    font-size: large;
    color: white;
    padding: 10px 20px;
    border: white solid 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px  rgb(46, 46, 46);
    transition: 0.3s;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
